.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 0.5;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    transition: width 0.3s;
}

.toggle-sidebar {
    flex: 0;
    width: 0;
    background-color: #333;
    color: #fff;
    /* padding: 20px; */
    overflow-y: auto;
    transition: width 0.3s;
}

.chat {
    flex: 3;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
}