.container-response{
    background-color: #444654;
    color: white;
    padding: 10px 25%;
    text-align: justify;
    display: flex;
}
.container-response span{
background-color: #0b87f8;
  padding: 10px 10px;
  margin-right: 10px;
  height: fit-content;
   border-radius: 5px;
}