.sidebar {
  width: 15%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background-color: #202123;
}
.flex-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.sidebar button {
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(108, 99, 99);
  border-radius: 5px;
  cursor: pointer;
}
.flex-1 .new-chat {
  padding-right: 40px;
}
.flex-2 button {
  margin-bottom: 10px;
}

.flex-2{
  box-shadow: 0 4px 2px -2px #265c78;
  border-top: 1px solid aliceblue;
  border: 1px solid transparent;
}

.flex-2 span {
  background-color: #265c78;
  padding: 4px 10px;
  margin-right: 5px;
  border-radius: 5px;
}
.user {
  overflow: hidden;
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 1360px) {
  .sidebar {
     display: none;
  }
} 